@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300italic,400italic,700italic,300,400,700);

body
{
	/*background-attachment: fixed; color: #474747;*/
	background-color: black; 
	font-family: Josefin Sans, Verdana, Geneva, sans-serif;
	font-weight: 300;
	font-size: 19px;
}

ul.menuul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 16%;
	background-color: black;
	position: fixed;
	height: 84%;
	overflow: auto;
	font-weight: 300;
}

li a.inli
{
	display: block;
	width: 84%;
    	color: white;
	padding: 8px 16px;
	text-decoration: none;
}

li a:hover
{
	background-color: #8E8E8D;
	font-weight: 400;
	width: 83%;
	margin-left: 4%;
	color: black;
}

li a.active
{
	display: block;
	width: 83%;
	padding: 8px 16px;
	text-decoration: none;
	background-color: #009B77;
	font-weight: 400;
	margin-left: 4%;
	color: black;
}

A:link { text-decoration: none;}
A:visited { text-decoration: none;}

a:link
{
	color: black;
	text-decoration: none;
	padding : 0em;
}

a:visited
{
	color: black; text-decoration: none;
	padding : 0em;
}

a:hover
{
	background-color: #009b77; 
	padding : 0em;
	color: black;
}

a.my:link
{
	color: black;
	text-decoration: none;
	padding: 0em;
}

a.my:visited
{
	color: black; text-decoration: none;
	padding: 0em;
}

a.my:hover
{
	background-color: #009b77;
	padding: 0em;
	font-weight: 300;
	margin-left: 0%;
}

div.naka
{
	position:absolute; top:0%; left:16%; right:15%;
	background-color: white;
	color: #474747; 
	width: 70%;
	padding-right:3%; 
	padding-left:3%;
	min-height: 100%;
	min-width: 200px;
}

p.naka
{
	background-color: #009b77;
        background-attachment: fixed; 
        color: white; 
        padding : 0.2em;
	width : 95%;
	padding-left : 2.5%;
	padding-right : 2.5%;
	padding-top : 0.4em;
	padding-bottom : 0.4em;
}

p.vbottom{vertical-align: bottom;}

a.nolink:hover{background-color:#ffffff;}

table.kopf
{
	color: #474747;
	font-size: small;
}

table.cont
{
	font-family: Josefin Sans, Verdana, Geneva, sans-serif;
	font-weight: 300;
	font-size: 19px;
	color: #474747;
	width: 80%;
}